.git
.gitignore
Dockerfile
docker-compose*.yml
**/node_modules/
**/.next/
**/redis_data/
appendonlydir
**/pgdata/
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist
**appendonlydir/
docker-compose*
*.log
.env.local
.env.*.local