# JetBrains Rider
.idea/
*.iml
*.iws

# Build artifacts
[Bb]in/
[Oo]bj/

# Packages
packages/
*.nupkg

# Visual Studio files (often used alongside Rider)
.vs/
*.suo
*.user
*.userprefs

# Miscellaneous
Thumbs.db
Desktop.ini
.DS_Store

redis_data/
pgdata/
*.csv
node_modules/
next-env.d.ts
.next/
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
