services:
  api:
    container_name: api
    image: api
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    networks:
      - app_network
    depends_on:
      - postgres
  
  redis:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data
    environment:
      REDIS_PASSWORD: admin
    command: redis-server --appendonly yes --requirepass admin
    networks:
      - app_network
    
  postgres:
    image: postgres:latest
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: admin
      POSTGRES_DB: car_park_db
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - ./pgdata:/var/lib/postgresql/data/pgdata
    networks:
      - app_network

  client:
    container_name: client
    restart: always
    image: client
    build:
      context: ./frontend
      dockerfile: Dockerfile
    networks:
      - app_network
    ports:
      - "3000:3000"

#  proxy:
#    restart: always
#    image: nginx:mainline
#    container_name: proxy
#    volumes:
#      - ./nginx.conf:/etc/nginx/nginx.conf
#      - ./letsencrypt/:/etc/letsencrypt/
#      - ./nginx:/etc/nginx
#    ports:
#      - "80:80"
#      - "443:443"
#    networks:
#      - app_network

networks:
  app_network:
    driver: bridge